<!doctype html>
<html lang="en">
<head>

  <title>
    CV Generator - Your Resume
  </title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta title="Bag your first impression with impressive resume at your fingertips !" />
  <meta name="description" content="Generate your resume just by filling up a application form or a survey about you ! Yes, we'll take care of all formatting ! Get a better niche with this lucid curriculum vitae !" />
  <meta name="keywords" content="cv, resume, curriculum vitae, generate resume, my resume, cv generator, application, generate" />
  <meta name="theme-color" content="#f2920c" />
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">

  <!-- Core CSS files -->

  <!--<script src="js/jquery.min.js"></script>-->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>-->
  <script src="https://cdn.tutorialjinni.com/parallax.js/1.5.0/parallax.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_css.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css?family=Raleway|Josefin+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" />


  <style>
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }
  </style>
</head>


<body class="landing-page" onload="window.print()">
  <div class="row padmini">
    <div class="col-md-6 col-sm-6 offset-sm-1 text-left">
      <h2 class="head-banner-text blue">
        {{ name }}
      </h2>
      <h2>{{ position }}</h2>
      <span style="display: inline-block;">
        <h2>{{ univ }}</h2>
        <h2>{{ session }}</h2>
      </span>
    </div>
    <div class="col-md-4 col-sm-4 text-right">
      <h3> {{ ph }} </h3>
      <h3> {{ email }} </h3>
      <h3> CGPA {{ cgpa }} </h3>
    </div>
  </div>
  <hr />
  <div class="container">
    <p style="font-size: 21px;">About me: {{ desc }} </p>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center padlil">
      <h2 style="padding-top: 20px;"> Technical Skills and interests </h2>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <ul>
        <li> {{ skill_1 }} </li>
        <li> {{ skill_2 }} </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <ul>
        <li> {{ skill_3 }} </li>
        <li> {{ skill_4 }} </li>
      </ul>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <ul>
        <li> {{ skill_5 }} </li>
        <li> {{ skill_6 }} </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 col-sm-12 text-center padlil">
      <h2 style="padding-top: 20px;"> Key Projects and Work Experience </h2>
    </div>
  </div>
  <div class="container text-center">
    <p>
      <li style="color: blue; font-size: 22px;">{{ xp_1_title }}</li>
    </p>
    <p>
      {{ xp_1_session }}
    </p>
    <p>
      {{ xp_1_desc }}
    </p>
  </div>
  <div class="container text-center">
    <p>
      <li style="color: blue; font-size: 22px;">{{ xp_2_title }}</li>
    </p>
    <p>
      {{ xp_2_session }}
    </p>
    <p>
      {{ xp_2_desc }}
    </p>
  </div>
  <div class="container text-center">
    <p>
      <li style="color: blue; font-size: 22px;">{{ xp_3_title }}</li>
    </p>
    <p>
      {{ xp_3_session }}
    </p>
    <p>
      {{ xp_3_desc }}
    </p>
  </div>
  <div class="container text-center">
    <p>
      <li style="color: blue; font-size: 22px;">{{ xp_4_title }}</li>
    </p>
    <p>
      {{ xp_4_session }}
    </p>
    <p>
      {{ xp_4_desc }}
    </p>
  </div>
  <div class="container text-center">
    <p>
      <li style="color: blue; font-size: 22px;">{{ xp_5_title }}</li>
    </p>
    <p>
      {{ xp_5_session }}
    </p>
    <p>
      {{ xp_5_desc }}
    </p>
  </div>
  <div class="container text-center">
    <p>
      <li style="color: blue; font-size: 22px;">{{ xp_6_title }}</li>
    </p>
    <p>
      {{ xp_6_session }}
    </p>
    <p>
      {{ xp_6_desc }}
    </p>
  </div>
  <div class="pad">
    <hr />
  </div>
  <footer class="footer text-center pad-down">
    <h3 style="font-size: 1rem;"> {{ univ }} &middot; contact: {{ cph }} &middot; email: {{ cemail }} </h3>
  </footer>
</body>
</html>
