{% extends "header.html" %}
{% block title %}CV Generator - Sign in{% endblock %}
{% block content %}
<div class="landing-banner parallax-window" data-parallax="scroll" data-image-src="/static/images/pbeach.jpg">
  <div class="overlay">
    <div class="row pad-form-center">
      <div class="col-md-5 col-sm-5 offset-sm-4 text-center bg-white borderify-login">
        <form action="../verify/" method="post" style="padding-bottom: 20px;">
          {% csrf_token %}
          <p class="text-center">Log in to <b>your account.</b></p>
          <p class="text-center red">
            {{data}}
            <button type="button" class="close" aria-label="Close" onclick="closebtn()">
              <span aria-hidden="true">&times;</span>
            </button>
          </p>
          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-envelope fa-pad"></i>Email</span>
            <input id="email" type="email" class="form-control has-success has-feedback" name="email"
              placeholder="Enter Email"><br />
          </div>

          <br>

          <div class="input-group">
            <span class="input-group-text"><i class="fa fa-lock fa-pad"></i>Password</span>
            <input id="password" type="password" class="form-control has-success has-feedback" name="password"
              placeholder="Enter Password"><br />
          </div>

          <br>


          <p style="font-size: 0.7rem; padding-top: 3px; align: right">Don't have an account ? <a href="../signup/">Sign
              Up</a></p>

          <br>

          <!--<progress class="progress-bar-animated"></progress>-->

          <button class="btn btn-success" type="submit" value="Submit" name="submit">Login now</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}