<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>

  <title>
    CV Generator - Form filling  !
  </title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta title="Bag your first impression with impressive resume at your fingertips !" />
  <meta name="description" content="Generate your resume just by filling up a application form or a survey about you ! Yes, we'll take care of all formatting ! Get a better niche with this lucid curriculum vitae !" />
  <meta name="keywords" content="cv, resume, curriculum vitae, generate resume, my resume, cv generator, application, generate" />
  <meta name="theme-color" content="#f2920c" />
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>-->
  <script src="{% static 'js/parallax.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_css.css' %}" />
  <link rel="stylesheet" type="text/css" href="{%static 'css/slick.css' %}" />
  <script src="{% static 'js/slick.js' %}"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css?family=Raleway|Josefin+Slab" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}" />



  <style>
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  html,
  body {
    height: 100%;
    margin: 0;
  }

  .fix{
    padding-bottom: 7px;     /* Small juggad for navbar :P */
  }
  </style>
</head>


<body class="landing-page">
  <nav class="navbar bg-white nav navbar-nav navbar-fixed-top nav-header fix">
    <span class="links-header pull-left" style="height: 0px;">
      <a href="../index" class="sharpUnity fa-2x black" id="resume">CV Generator</a>
    </span>
    <span class="links-header text-right">
      <a href="https://github.com/biswajee" id="github">
        <i class="fa fa-2x fa-github" aria-hidden="true"></i>
      </a>
    </span>
  </nav>



  <form action="submit" method="post" enctype="multipart/form-data">
    <div class = "row pad-down pad-form-center">
      <div class="col-md-5 col-sm-5 offset-sm-4 text-left bg-white borderify-login pad-lil">
        <div class = "col-md-12 col-sm-12 text-center">
          <h1 class="head-banner-text">General information</h1>
        </div>
        <br /><br />
        <div class="input-group">
          <span class="input-group-text">
            Your name:
          </span>
          <input type="text" class="form-control has-success has-feedback" name="nm" placeholder="eg. Josh Gordon" />
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-text">
            Your current position:
          </span>
          <input type="text" class="form-control has-success has-feedback" name="position" placeholder="Software Developer" />
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-text">
            Insitute name: </span>
            <input type="text" class="form-control has-success has-feedback" name="univ" placeholder="College name" />
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-text">
              Session of study:
            </span>
            <input type="date" class="form-control has-success has-feedback" name="session" placeholder="Enter your session" />
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-text">
              Phone number: </span>
              <input type="number" class="form-control has-success has-feedback" name="ph" placeholder="Enter your Phone number" />
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-text">
                E-mail ID:
              </span>
              <input type="email" class="form-control has-success has-feedback" name="email" placeholder="Enter your E-mail ID" />
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-text">
                Enter Institute Contact:
              </span>
              <input type="number" class="form-control has-success has-feedback" name="cph" placeholder="Enter University / College Phone number" />
            </div>
            <br>
            <div class="input-group">
              <span class="input-group-text">
                Enter Institute E-mail: </span>
                <input type="email" class="form-control has-success has-feedback" name="cemail" placeholder="Enter University / College E-mail" />
              </div>
              <br>
              <div class="input-group">
                <span class="input-group-text">
                  Describe Yourself in Brief</span>
                  <textarea name="desc" class="form-control has-success has-feedback" placeholder="Describe Yourself..."></textarea>
                </div>

                <div class="row pad pad-down">
                  <div class = "col-md-12 col-sm-12 text-center">
                    <h1 class="head-banner-text">Academic Qualification</h1><br /><br />
                  </div>

                  <div class="input-group">
                    <span class="input-group-text">
                      Enter current CGPA / Percentage
                    </span>
                    <input type="number" class="form-control has-success has-feedback" name="cgpa" placeholder="eg. 8.7 or 93" />
                  </div>
                </div>

                <div class="row pad pad-down">
                  <div class = "col-md-12 col-sm-12 text-center">
                    <h1 class="head-banner-text">Skills and Experience</h1><br /><br />
                  </div>

                  <div>
                    <div class = "col-md-12 col-sm-12 text-center">
                      <h2>Enter your six best skill below</h2><br>
                    </div>
                    <input type="text" class="form-control has-success has-feedback" name="skill_1" placeholder="First Skill" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="skill_2" placeholder="Second Skill" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="skill_3" placeholder="Third Skill" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="skill_4" placeholder="Fourth Skill" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="skill_5" placeholder="Fifth Skill" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="skill_6" placeholder="Sixth Skill" /><br>
                  </div>
                </div>
              </div>
              <div class="container">
                <div class = "col-md-12 col-sm-12 text-center">
                  <h2>Enter your Experiences and projects</h2><br>
                </div>
                <div class="row xborder">
                  <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control has-success has-feedback" name="xp_1_title" placeholder="First Experience" /><br>
                    <input type="date" class="form-control has-success has-feedback" name="xp_1_session" placeholder="Enter start date" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="xp_1_desc" placeholder="Enter description" /><br>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control has-success has-feedback" name="xp_2_title" placeholder="Second Experience" /><br>
                    <input type="date" class="form-control has-success has-feedback" name="xp_2_session" placeholder="Enter start date" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="xp_2_desc" placeholder="Enter description" /><br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control has-success has-feedback" name="xp_3_title" placeholder="Third Experience" /><br>
                    <input type="date" class="form-control has-success has-feedback" name="xp_3_session" placeholder="Enter start date" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="xp_3_desc" placeholder="Enter description" /><br>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control has-success has-feedback" name="xp_4_title" placeholder="Fourth Experience" /><br>
                    <input type="date" class="form-control has-success has-feedback" name="xp_4_session" placeholder="Enter start date" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="xp_4_desc" placeholder="Enter description" /><br>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control has-success has-feedback" name="xp_5_title" placeholder="Fifth Experience" /><br>
                    <input type="date" class="form-control has-success has-feedback" name="xp_5_session" placeholder="Enter start date" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="xp_5_desc" placeholder="Enter description" /><br>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <input type="text" class="form-control has-success has-feedback" name="xp_6_title" placeholder="Sixth Experience" /><br>
                    <input type="date" class="form-control has-success has-feedback" name="xp_6_session" placeholder="Enter start date" /><br>
                    <input type="text" class="form-control has-success has-feedback" name="xp_6_desc" placeholder="Enter description" /><br>
                  </div>
                </div>
              <div class="row pad">
                <div class="col-md-12 col-sm-12 text-center">
                  <button class="btn btn-success" type="submit" value="Submit" name="submit">Submit form</button>
                </div>
              </div>
            </div>




            <!--end of form tags-->

          </form>
        </div>



        <div class="pad-extra pad-down">
          <footer class="footer  text-center">
            <h3 style="font-size: 1rem;">&copy; CV Generator 2018 &middot; All Rights Reserved &middot;</h3>
          </footer>
        </div>

      </body>
      </html>
