<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>

  <title>
    CV Generator - Generate your Success !
  </title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta title="Bag your first impression with impressive resume at your fingertips !" />
  <meta name="description" content="Generate your resume just by filling up a application form or a survey about you ! Yes, we'll take care of all formatting ! Get a better niche with this lucid curriculum vitae !" />
  <meta name="keywords" content="cv, resume, curriculum vitae, generate resume, my resume, cv generator, application, generate" />
  <meta name="theme-color" content="#f2920c" />
  <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">

  <!-- Core CSS files -->

  <!--<script src="js/jquery.min.js"></script>-->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js"></script>-->
  <script src="{% static 'js/parallax.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/custom_css.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link href="https://fonts.googleapis.com/css?family=Raleway|Josefin+Slab" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <style>
        body {
            max-width: 100%;
            overflow-x: hidden;
        }

        html,
        body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>


<body>

      <nav class="navbar navbar-dark bg-white nav navbar-nav navbar-fixed-top nav-header" >
          <span class="links-header pull-left" style="height: 0px;">
              <a href="../index" class="sharpUnity fa-2x black" id="resume">CV Generator</a>
          </span>
          <span class="links-header text-right">
              <a href="../signin/" class="sharpUnity fa-2x black remove_U" id="mail">
                  Sign in
              </a>
              <a href="https://github.com/biswajee" id="github">
                  <i class="fa fa-2x fa-github" aria-hidden="true"></i>
              </a>
          </span>
      </nav>



      <div class="landing-banner parallax-window" data-parallax="scroll" data-image-src="{% static 'images/14.png' %}">
        <div class="overlay">
          <div class="row pad-form-center">
            <div class="col-md-4 col-sm-4 offset-sm-1 text-center bg-white borderify-login">
              <form action="../signin/" method="post" style="padding-bottom: 20px;">
                <p class="text-center">Enter your <b>Login Credentials.</b></p>
                  <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-user-o fa-pad"></i>Username</span>
                      <input id="email" type="email" class="form-control has-success has-feedback" name="email" placeholder="Email"><br />
                  </div>

                  <br>

                  <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-lock fa-pad"></i>Password</span>
                      <input id="password" type="password" class="form-control has-success has-feedback" name="password" placeholder="Password"><br />
                  </div>
                  <p style="font-size: 0.7rem; padding-top: 3px; text-decoration: underline; align: right"><a href="../signup/">Create an account</a></p>

                  <br>

                  <button class="btn btn-success" type="submit" value="Submit" name="submit">Sign in</button>
              </form>
            </div>
         </div>
        </div>
      </div>

      <div class="row pad pad-down">
        <div class="col-md-12 col-sm-12 text-center">
          <h1 class="head-banner-text">
          Generate your key to success <i class="fa fa fa-file text-success"></i> with CV Generator !
          </h1>
          </div>
      </div>


    <br><br><br>

      <div class="row padmini pad-down parallax-window" data-parallax="scroll" data-image-src="{% static 'images/3306.png' %}">
        <div class="col-md-12 col-sm-12 text-center">
          <h1 class="head-banner-text">
            How it works ?
          </h1>
          <h2 style="font-size: 1.5rem;">
            Well, yo share your professional information in a form that we ask you to fill up in order to get a resume.
            You fill up the required details. Be very sincere while filling up because falsification / misleading information leads to
            bad impression. <br /><br /> We furthur ask you in case you wish to share this information with some of our potential recruiters.
            Please feel free to view some testimonials <a href="#">here</a>. <br /><br />We send your personal information to a cloud storage and
            this dynamically generates a webpage with your personal information. Feel interested ? <a href="../read-docs/">Read more... </a>
          </h2>
          <div class="row pad" id="read-the-docs">
            <div class="col-md-12 col-sm-12 text-center">
              <h2 style="font-size: 2.2rem; padding-bottom: 20px;"><a href="../read-docs/" class="border border-success read-docs">Read Developer Docs</a></h2>
            </div>
          </div>
      </div>
    </div>

    <div class="pad-extra pad-down">
    <footer class="footer  text-center">
      <h3 style="font-size: 1rem;">&copy; CV Generator 2018 &middot; All Rights Reserved &middot;</h3>
      <h3 style="font-size: 1rem;">This site uses cookies. By using this website, you agree to abide by the terms and conditions of our Privacy Policy</h3>
    </footer>
    </div>
</body>
</html>
